<%= render "shared/navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('auditorium.jpg') %>')">
  <div class="container d-flex align-items-center flex-column">
    <h1>Awesome movie lists</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-3">
    <% @lists.each do |list| %>
      <div class="col mb-3">
        <% img_url = list.photo.attached? ? cl_image_path(list.photo.key, height: 300, crop: :fill) : asset_path('film-roll.jpg') %>
        <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= img_url %>')">
          <%= link_to list.name, list_path(list), class: "stretched-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
